page-elec {
  .splash-logo {
    margin: auto;
    background: url('../assets/img/elec1.png') repeat transparent;
    background-size: 100%;
    width: 50px;
    height: 50px;
	}
  .splash-logo1 {
    margin: auto;
    background: url('../assets/img/elec2.jpg') repeat transparent;
    background-size: 100%;
    width: 50px;
    height: 50px;
  }
  .splash-logo2 {
    margin: auto;
    background: url('../assets/img/elec3.jpg') repeat transparent;
    background-size: 100%;
    width: 50px;
    height: 50px;
  }
}
